@charset "utf-8";

/*
    Flexbox CSS Example
    By: Amber Jeffers
    Date: October 4, 2021
*/

/* Display Flex turns an element into a flex container and its direct children
into flex items. 

Flex items align side by side, main-start (left) to main-end (right),
all in one row. Perpendicular to the main axis is the cross axis which goes
from cross-start (top) to the cross-end (bottom). Direction of axes can
be changed.

The container fills the available width like a block element but the flex items
may not fill the width of their container. Flex items are all the same height
determined naturally by their contents.

Flex property controls the size of the flex items along the main axis (width). Flex is
shorthand for three different sizing properties: flex-grow, flex-shrink, and flex-basis.
Flex: 2 = Flex: 2 1 0%

Flex Basis defines a starting point for the size of an element, an initial "main size".
Value applies to width and its initial value is auto. Flex Basis is computed for each
flex item and will add up to some width. The width may not fill the container and thus
leaves a remainder.

The remaining space will be consumed by flex items based on their Flex Grow values which
is also a non-negative integer. Flex Grow of 0 won't grow past its flex basis. The items
will grow until all of the remaining space is used up and fill the width of the container.
Declaring a higher flex-grow value gives that element more "weight" and will take up
a larger portion of the remainder.

Shorthand Flex: 2 and Flex: 1 sets a flex basis of 0% so 100% of the container's width
is the remainder (minus the 1.5em margin between the 2 columns). The remainder is then
distributed to the two columns: 2/3 to the first and 1/3 to the second.

Flex Shrink value for each item indicates whether it should shrink to prevent overflow. 
If an item has a value of flex-shrink: 0, it will not shrink. Items with a value greater
than 0 will shrink until there is no overflow. An item with a higher value will shrink
more than an item with a lower value.

Flex Direction applied to the flex container shifts the direction of the axes. The
initial value (row) causes the items to flow left-to-right. Flex Direction Column causes
the flex items to stack vertically (top to bottom) instead. Row Reverse flips the stack
to right to left or bottom to top.

*/


/* Global Box-Sizing Fix */
:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* Background Color & Font */
body {
    background-color: #709b90;
    font-family: Arial, Helvetica, sans-serif;
}

/* Global Margins */
body * + * {
    margin-top: 1.5em;
}

/* Double-container to center page contents */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Makes site-nav the flex container and its children flex items */
.site-nav {
    display: flex;
    padding: .5em;
    background-color: #5f4b44;
    list-style-type: none;
    border-radius: .2em;
}

/* Overrides lobotomized owl top margin */
.site-nav > li {
    margin-top: 0;
}

/* Removes user agent style */
.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}

/* Targets every list item that follows another list item (all but the first) */
.site-nav > li + li {
    margin-left: 1.5em;
}

/* Auto margins inside a flexbox will fill the available space */
.site-nav > .nav-right {
    margin-left: auto;
}

/* Add background color and padding to the three main tiles */
.tile {
    padding: 1.5em;
    background-color: #fff;
}

/* Apply flexbox layout to the main container */
.flex {
    display: flex;
}

/* Remove the top margin and apply space between the flex items (tiles) */
.flex > * + * {
    margin-top: 0;
    margin-left: 1.5em;
}

/* Column- targets the columns and flex applies width of 2/3 and 1/3 */
.column-main {
    flex: 2;
}

.column-sidebar {
    flex: 1;
}

/* Alternative to the above flex shorthand */
.column-main {
    flex: 66.67%;
}

.column-sidebar {
    flex: 33.33%;
}

/* NESTED: Flex item for the outer flexbox and a flex container for the new inner one */
.column-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Applies flex-grow to the items within */
.column-sidebar > .tile {
    flex: 1;
}